@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

*{
    font-family: Montserrat, sans-serif;
}

body{
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: black;
    width: 98vw;
    height: 98vh;
    top: 1vh;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
}

div{
    display:flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: red;
}

#login{
    height: 1vh;
    width: 5vw;
    border-radius: 0.7vw;
    background-color: blueviolet;
}